<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-toastyplugin" version="0.0.1">
    <name>ToastyPlugin</name>

    <description>An Android Cordova plugin that allows users to display simple Toast messages at the bottom of the screen.</description>
    <license>MIT</license>

    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://github.com/yoyo770/carplay-audroidauto.git</repo>
    <issue>https://github.com/stanidesis/toastyplugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/toastyplugin.js" name="toastyPlugin">
        <clobbers target="window.plugins.toastyPlugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ToastyPlugin">
                <param name="android-package" value="com.yossicohen.cordova.plugin.mapbox"/>
            </feature>
        </config-file>

      

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data
                android:name="com.google.android.gms.car.application"
                android:resource="@xml/automotive_app_desc" />

            <service
            android:name="com.stanleyidesis.MyMusicService"
            android:exported="true">
                <intent-filter>
                    <action android:name="android.media.browse.MediaBrowserService" />
                </intent-filter>
            </service>
        </config-file> 


        <source-file src="src/android/MyMusicService.java" target-dir="src/com/stanleyidesis/" />
        <source-file src="src/android/ToastyPlugin.java" target-dir="src/com/stanleyidesis/cordova/plugin" />
        <resource-file src="src/android/automotive_app_desc.xml" target="res/xml/automotive_app_desc.xml" />

        <framework src="src/android/mapbox.gradle" custom="true" type="gradleReference"/>
    </platform>

   <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="ToastyPlugin">
        <param name="ios-package" value="ToastyPlugin" />
      </feature>
    </config-file>
		<config-file parent="com.apple.developer.carplay-maps" target="*/Entitlements-Debug.plist">
		    <true/>
		</config-file>
		<config-file parent="com.apple.developer.carplay-maps" target="*/Entitlements-Release.plist">
            <true/>
		</config-file>
    <source-file src="src/ios/ToastyPlugin.swift" />
  </platform>

</plugin>